<div class="container container-home">
  <div class="headline-container">
      <h1 class="homeheader"><%= link_to 'JESSE FARBER', root_path %></h1>
      <hr class="thickline" />
  </div>
  <div class="row link-container">
    <div class="col-md-6">
      <%= link_to artist_home_path do %>
        <h1 class="dark-on-light left-homelink">∎ ARTIST ∎</h1>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= link_to '#' do %>
        <h1 class="dark-on-light right-homelink">∎ DEVELOPER ∎</h1>
      <% end %>
    </div>
  </div>
</div>