<% provide(:title, "2D") %>


<div class="container artist-container text-center">
  <br />
  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <h1 class="dark-on-light">∎ 2D ∎</h1>
        <br /><br />
      </div>
    </div>
  <div class="row align-items-center two-d">
    <% @works.two_d.rank(:row_order).each do |work| %>
      <div class="col-md-3 col-sm-4 col-6 two-d-work workgrid" >
        <%= link_to image_tag(work.image), work.image.url, 'data-title': "<br /><span style='font-family: latolight_italic'>#{work.title}</span>,   #{ work.year.year}      #{work.medium}      #{work.dimensions}", class: 'img-fluid' %> 
      </div>
    <% end %>
  </div>
</div> 

<script>

$(document).ready(function() {
  $('.img-fluid').magnificPopup({
    // Delay in milliseconds before popup is removed
    removalDelay: 300,

    // Class that is added to popup wrapper and background
    // make it unique to apply your CSS animations just to this exact popup
    mainClass: 'mfp-fade',
    // main options
    showCloseBtn: false,
    closeOnContentClick: true,
    type: 'image',
    gallery:{
      enabled:true,
      navigateByImgClick: false,
      arrowMarkup: '<span title="%title%" class="mfp-arrow mfp-arrow-%dir%"><i class="fa fa-caret-%dir% fa-3x mfp-prevent-close"></i></span>'
    },
    image: {
      titleSrc: 'data-title',
      markup: '<div class="mfp-figure">'+
            '<div class="mfp-img"></div>'+
            '<div class="mfp-bottom-bar">'+
              '<div class="mfp-title"></div>'+
            '</div>'+
          '</div>', // Popup HTML markup. `.mfp-img` div will be replaced with img tag, `.mfp-close` by close button
      
      cursor: null
    }
  });
  var idleTime = 0;
  var idleInterval = setInterval(timerIncrement, 1000);
  $(this).mousemove(function (e) {
    idleTime = 0;
  });
  $(this).keypress(function (e) {
    idleTime = 0;
  });
  function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 3) {
      $( ".fa-3x" ).stop().fadeOut(function (){
      });
      $(this).mousemove(function (e) {
        $( ".fa-3x" ).stop().fadeIn();
        idleTime = 0;
      });
      $(this).keypress(function (e) {
        $( ".fa-3x" ).stop().fadeIn();
        idleTime = 0;
      });
    idleTime = 0;
    } 
  } 
});

</script>
