<div class="container">
  <h1 class="text-center">2D WORKS</h1>
  <div class="row two-d">
    <% @works.two_d.rank(:row_order).each do |work| %>
      <div class="col-lg-4 two-d-work">
        <%= image_tag work.image, class: 'img-fluid' %>
      </div>
    <% end %>
  </div>
</div>