<% provide(:title, "3D") %>

<div class="container artist-container text-center">
  <br />
  <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <h1 class="dark-on-light">∎ 3D ∎</h1>
        <br /><br />
      </div>
    </div>
  <div class="row three-d">
    <% @works.three_d.rank(:row_order).each do |work| %>
      <div class="col-md-3 col-sm-4 col-6 three-d-work workgrid">
        <%= link_to image_tag(work.image), work.image.url, 'data-title': "<p><br /><span style='font-family: latolight_italic'>#{work.title}</span>,   #{ work.year.year}      #{work.medium}      #{work.dimensions}</p>", class: 'img-fluid' %> 
      </div>
    <% end %>
  </div>
</div> 

<script>

$(document).ready(function() {
  $('.img-fluid').magnificPopup({
    // Delay in milliseconds before popup is removed
    removalDelay: 300,

    // Class that is added to popup wrapper and background
    // make it unique to apply your CSS animations just to this exact popup
    mainClass: 'mfp-fade',
    // main options
    showCloseBtn: false,
    closeOnContentClick: true,
    type: 'image',
    gallery:{
      enabled:true,
      navigateByImgClick: false
    },
    image: {
      titleSrc: 'data-title',
      markup: '<div class="mfp-figure">'+
            '<div class="mfp-img"></div>'+
            '<div class="mfp-bottom-bar">'+
              '<div class="mfp-title"></div>'+
            '</div>'+
          '</div>', // Popup HTML markup. `.mfp-img` div will be replaced with img tag, `.mfp-close` by close button
      
      cursor: null
    }
  });
});

</script>