<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class='navbar-brand'><%= link_to 'JESSE FARBER', root_path %></span>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <%= link_to artist_two_d_works_path, class: 'nav-link' do %>
              <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
              <br />
              <small>2D</small>
            <% end %>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">3D WORKS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">BOOK WORKS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">CEPH</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">RNL</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">CV</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">NEWS</a>
          </li>
        </ul>
        <% if current_admin %>
          <ul class="navbar-nav mr-auto pull-right">
            <li class="nav-item">
              <%= link_to 'Admin Dashboard', admin_dashboard_path, class: "nav-link admin" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "nav-link admin" %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>