<nav class="navbar fixed-bottom navbar-inverse bg-inverse">
  <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item active">
      <%= link_to 'Email', 'mailto:jesse@jessefarber.com', class: "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to 'Instagram', 'http://www.instagram.com/fleashelpkeepitclean/', class: "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to 'Bandcamp', 'http://jessefarber.bandcamp.com/', class: "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to 'Facebook', 'http://www.facebook.com/jesse.farber.92', class: "nav-link" %>
    </li>
  </ul>
</nav>
