<nav class="navbar fixed-bottom navbar-inverse bg-inverse">
  <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item active">
      <%= link_to 'Email', 'mailto:jesse@jessefarber.com', class: "nav-link" %>
    </li>
  </ul>
</nav>