<% provide(:title, "4D") %>

<div class="container audio-container">
<br />
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="dark-on-light">∎ CEPH ∎</h1>
      <br /><br />
    </div>
  </div>
  <br />
  <div class="row justify-content-center body-text">
    <p>Jesse Farber has been producing experimental audio works since the early 1990s.<br />
    CEPH is a collaboration with artist Jörg Simon.<br />
    <span style="font-family: latohairline_italic;">HOWWHATWHY</span> was constructed over one year,<br /> by long distance between Istanbul and Frankfurt.<br />
    The artists did not see each other during this time.<br />
    The full album is available for free download at Bandcamp.<br />
    </p>
  </div>
  <br /><br />
</div>
<div class="row justify-content-center iframe-holder">
  <iframe style="border: 0; width: 320px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=438870672/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="http://jessefarber.bandcamp.com/album/howwhatwhy">HOWWHATWHY by CEPH</a></iframe>
</div>