<% provide(:title, "4D") %>

<div class="container">
  <h1>CEPH</h1>
  <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=438870672/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="http://jessefarber.bandcamp.com/album/howwhatwhy">HOWWHATWHY by CEPH</a></iframe>
</div>