<% provide(:title, "4D") %>

<div class="container artist-container">
  <br />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ CURRENT ∎</h1>
      <br /><br />
    </div>
  </div>
  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>
        <em>Conquering King Kong</em> is a 45-minute trail through mental states and thought patterns, an abstract audio film that unspools with the logic of a dream.<br /><br />
        Woven together from a massive archive of tapes, the album builds ambient spaces and puzzling sound objects out of location recordings, found sounds, private performances, and endless analog and digital manipulation.
      </p>
      <br />
      <p>
        <%= link_to 'More about RNL here.', artist_rnl_path, class: 'misc-links' %>
      </p>
      <br /><br />
    </div>
  </div>
</div>

<div class="row justify-content-center iframe-holder">
  <iframe style="border: 0; width: 400px; height: 680px;" src="https://bandcamp.com/EmbeddedPlayer/album=4201764227/size=large/bgcol=333333/linkcol=4ec5ec/package=2433261434/transparent=true/" seamless><a href="http://r-n-l.bandcamp.com/album/conquering-king-kong">Conquering King Kong by RNL</a></iframe>
</div>

<div class="container artist-container">
  <br /><br /><br /><br />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ PREVIOUS ∎</h1>
      <br /><br />
    </div>
  </div>
  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>CEPH was a collaboration with artist Jörg Simon. Over one year, CEPH created <span style="font-family: latolight_italic;">HOWWHATWHY</span> by long-distance, between Istanbul and Frankfurt. The artists did not see each other during this time. The completed album is now available for free download.<br />
      </p>
    </div>
  </div>
  <br /><br />
</div>
<div class="row justify-content-center iframe-holder">
  <iframe style="border: 0; width: 400px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=438870672/size=large/bgcol=333333/linkcol=4ec5ec/artwork=small/transparent=true/" seamless><a href="http://jessefarber.bandcamp.com/album/howwhatwhy">HOWWHATWHY by CEPH</a></iframe>
</div>