<% provide(:title, "4D") %>

<div class="container audio-container">
<br />
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <h1 class="dark-on-light">∎ CEPH ∎</h1>
      <br /><br />
    </div>
  </div>
  <br />
  <div class="row justify-content-center body-text">
  <div class="col-sm-6">
      <p>Jesse Farber has been producing experimental audio works since the early 1990s. CEPH was a collaboration with artist Jörg Simon. <span style="font-family: latohairline_italic;">HOWWHATWHY</span> was constructed over one, year by long-distance, between Istanbul and Frankfurt. The artists did not see each other during this time. The full album is now available for free download.<br />
      </p>
    </div>
  </div>
  <br /><br />
</div>
<div class="row justify-content-center iframe-holder">
<iframe style="border: 0; width: 400px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=438870672/size=large/bgcol=333333/linkcol=4ec5ec/artwork=small/transparent=true/" seamless><a href="http://jessefarber.bandcamp.com/album/howwhatwhy">HOWWHATWHY by CEPH</a></iframe>
</div>