<% provide(:title, "4D") %>

<div class="container artist-container">
  <br />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ RNL ∎</h1>
      <br /><br />
    </div>
  </div>
  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>Jesse Farber has been producing experimental audio works since the early 1990s. <span style="font-family: latolight_italic;">Conquering King Kong</span>
        <br />
      </p>
    </div>
  </div>
  <br /><br />
  <div class="row justify-content-center iframe-holder">
  <iframe style="border: 0; width: 400px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=438870672/size=large/bgcol=333333/linkcol=4ec5ec/artwork=small/transparent=true/" seamless><a href="http://jessefarber.bandcamp.com/album/howwhatwhy">HOWWHATWHY by CEPH</a></iframe>
  </div>
  <br /><br /><br /><br />
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h1 class="dark-on-light">∎ CEPH ∎</h1>
      <br /><br />
    </div>
  </div>
  <div class="row justify-content-center body-text">
    <div class="col-lg-6 col-md-8">
      <p>CEPH was a collaboration with artist Jörg Simon. Over one year, CEPH created <span style="font-family: latolight_italic;">HOWWHATWHY</span> by long-distance, between Istanbul and Frankfurt. The artists did not see each other during this time. The completed album is now available for free download.<br />
      </p>
    </div>
  </div>
  <br /><br />
</div>
<div class="row justify-content-center iframe-holder">
  <iframe style="border: 0; width: 400px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=438870672/size=large/bgcol=333333/linkcol=4ec5ec/artwork=small/transparent=true/" seamless><a href="http://jessefarber.bandcamp.com/album/howwhatwhy">HOWWHATWHY by CEPH</a></iframe>
</div>