<% provide(:title, "CV") %>

<div class="container cv">
  <br />
  <p><strong>Education</strong></p>
  <p>2004<span class='tab1'>Mason Gross School of the Arts, Rutgers University, New Brunswick, NJ. MFA</span></p>
  <p>2002<span class='tab1'>Brandeis University, Waltham, MA. Post-Baccalaureate</span></p>
  <p>1998<span class='tab1'>Vassar College, Poughkeepsie, NY. BA in Studio Art</span></p>
  <br />

  <p><strong>Exhibitions</strong></p>
  <p>2021<span class='tab1'><em>Suturo Berlin</em>, curated by Daniel Wiesenfeld and Bettina Weiss, www.suturo.com</span></p>
  <p>2020<span class='tab1'><em>KUNST IM BAU</em>, curated by Hans-Jürgen Hafner, Gunter Reski, and Marcus Weber, Berlin</span></p>
  <p><span class='tab2'><em>Thinking of Sound</em>, Hilbertraum, Berlin</span></p>
  <p><span class='tab2'><em>Mistral</em>, Site Site Parasite, Marseille, France</span></p>
  <p>2019<span class='tab1'><em>Rulers</em>, curated by Sue Havens and Jason Lazarus, Coco Hunday, Tampa, FL</span></p>
  <p><span class='tab2'><em>Der Schein der Dinge</em>, SCOTTY, Berlin, Germany</span></p>
  <p><span class='tab2'><em>Notebook</em>, curated by Joanne Greenbaum, 56 Henry, New York, NY</span></p>
  <p>2018<span class='tab1'><em>The 7th Sense</em>, Bar Babette, Berlin, Germany</span></p>
  <p><span class='tab2'><em>Glashaus</em>, AusstellungsHalle 1A, Frankfurt, Germany</span></p>
  <p>2017<span class='tab1'><em>All The Right Moves</em>, Kienzle Art Foundation, Berlin, Germany</span></p>
  <p>2016<span class='tab1'><em>One Million Mirrors</em>, solo, Cavuspace, Berlin, Germany</span></p>
  <p><span class='tab2'><em>Dada Dada!</em> w/CEPH, Kunstverein Familie Montez, Frankfurt, Germany</span></p>
  <p><span class='tab2'><em>Super Sketchy</em>, DCTV, New York, NY</span></p>
  <p><span class='tab2'><em>I Believe My Receiver</em>, solo, Galerie Studio St. St., Berlin, Germany</span></p>
  <p><span class='tab2'><em>On Site in 16 Cities</em>, Bar Babette, Berlin, Germany, and Create or Die, Sydney, Australia</span></p>
  <p>2014<span class='tab1'><em>Person, Place, or Thing</em>, 68 Projects, Berlin, Germany</span></p>
  <p><span class='tab2'><em>Helløween</em>, Idling Gallery, Berlin, Germany</span></p>
  <p>2013<span class='tab1'><em>Haydarpasa'yi Sevmek</em>, Haydarpasa, Istanbul, Turkey</span></p>
  <p>2012<span class='tab1'><em>WAVERS</em>, Curated by EJ Hauser and Rob Nadeau, Brooklyn, NY</span></p>
  <p>2011<span class='tab1'><em>This World Is Not My Home</em>, solo, GallusZentrum, Frankfurt am Main, Germany</span></p>
  <p><span class='tab2'><em>Wir alle lieben Lüpertz</em>, Kornhäuschen, Aschaffenburg, Germany</span></p>
  <p>2009<span class='tab1'><em>Familietreffen</em>, Atelierfrankfurt, Frankfurt am Main, Germany</span></p>
  <p><span class='tab2'><em>The Crack-Up</em>, ATM Gallery, New York, NY</span></p>
  <p><span class='tab2'><em>Central & Remote</em>, Daily Operation, Long Island City, NY</span></p>
  <p><span class='tab2'><em>From The Garden Of Earthly Delights</em>, Arts Guild of Rahway, NJ</span></p> 
  <p>2008<span class='tab1'><em>Unlikely Perfomance Night</em>, W139, Amsterdam, Netherlands</span></p>
  <p><span class='tab2'><em>Hallways 2</em>, 167 Plymouth, Brooklyn, NY</span></p>
  <p>2006<span class='tab1'><em>Hallways</em>, 167 Plymouth, Brooklyn, NY</span></p>
  <p>2005<span class='tab1'><em>Ten Alumni Artists</em>, Palmer Gallery, Vassar College, Poughkeepsie, NY</span></p>
  <p><span class='tab2'><em>I AM 5</em>, Parker’s Box, Brooklyn, NY</span></p>
  <p>2004<span class='tab1'><em>Floor Play</em>, Brooklyn War Memorial Gallery, Brooklyn, NY</span></p>
  <p><span class='tab2'><em>Into the Woods</em>, Morsel Gallery, Brooklyn, NY</span></p>
  <p><span class='tab2'><em>Power T’s</em>, Pierogi, Brooklyn, NY</span></p>
  <p><span class='tab2'><em>Six Degrees</em>, Rutgers University, New Brunswick, NJ</span></p>
  <p><span class='tab2'><em>Tell Me a Story of a World Without Words</em>, City Without Walls, Newark, NJ</span></p>
  <p>2003<span class='tab1'><em>Nickel and Dimed</em>, Quality Gallery, Brooklyn, NY</span></p>
  <p><span class='tab2'><em>Good For You</em>, Rutgers University, New Brunswick, NJ</span></p>
  <p>2001<span class='tab1'><em>Where You At?</em>, Williamsburg Art & Historical Center, Brooklyn, NY</span></p>
  <br />
  <p><strong>Awards/Residencies</strong></p>
  <p>2021<span class='tab1'><em>White Columns Artist Registry</em>, White Columns, New York, NY</span></p>
  <p>2016<span class='tab1'><em>Höherweg Guest Residency</em>, Düsseldorf, Germany</span></p>
  <p>2009<span class='tab1'><em>In Process Residency</em>, Islip Museum of Art, Islip, NY</span></p>
  <p>2008<span class='tab1'><em>Louise Bourgeois Residency for a Sculptor</em>, Yaddo, Saratoga Springs, NY</span></p>
  <p>2006<span class='tab1'><em>Joan Mitchell Foundation Full Scholarship</em> at <em>Atlantic Center of the Arts Residency</em>, New Smyrna Beach, FL</span></p>
  <p>2004<span class='tab1'><em>Giza Daniels-Endesha Award for Outstanding Performance</em>, Rutgers University, NJ</span></p>
  <p>2003<span class='tab1'><em>TA/GA Competitiveness Pool Award</em>, Rutgers University, New Brunswick, NJ</span></p>
  <p>2002<span class='tab1'><em>Teaching Fellowship</em>, Rutgers University, New Brunswick, NJ</span></p>
  <p><span class='tab2'><em>Leon Golub Scholarship</em>, Rutgers University, New Brunswick, NJ</span></p>
  <p><span class='tab2'><em>Teaching Fellowship</em>, Brandeis University, Waltham, MA</span></p>
  <br />
  <p><strong>Curating</strong></p>
  <p>2020-now <span class='tab1'><em>Site Site Parasite</em>. Exhibitions and publications that reject conventional relationships to location and venue.</span></p>
  <p>2012-2014<span class='tab1'><em>NIMBY Lifestyles</em>. Exhibitions and publications oriented around remoteness and long-distance. Istanbul</span></p>
  <br />
  <p><strong>Bibliography/Discography</strong></p>
  <p>2020<span class='tab1'>Farber, Jesse. “Multi-Falsing”, sound project and interview in Bait / Switch Vol. 1 No. 2: Communication, https://www.baitswit.ch</span></p>
  <p><span class='tab2'>Farber, Jesse, and RNL. Original score for <em>Contact</em>, a film by Joe Nanashe</span></p>
  <p><span class='tab2'>Farber, Jesse. <em>Das Törchen (The Gate)</em>. Berlin, Germany: VONCONFLON</span></p>
  <p><span class='tab2'>Farber, Jesse. <em>Jailbreak</em>. Berlin, Germany: VONCONFLON</span></p>
  <p><span class='tab2'>Masteller, Ryan. "RNL - Conquering King Kong," Tabs Out, http://www.tabsout.com/?p=23964</span></p>
  <p><span class='tab2'>“A Duck in a Tree: The Whole Spectre of Beauty,” Resonance FM broadcast/podcast by :zoviet*france:, featuring RNL’s Conquering King Kong</span></p>
  <p><span class='tab2'>Mecca, Steve, "RNL: Conquering King Kong," Chain D.L.K., http://www.chaindlk.com/reviews/?id=11207</span></p>
  <p>2019<span class='tab1'>“Toneshift 14,” podcast featuring RNL’s Conquering King Kong</span></p>
  <p><span class='tab2'>“Vital Weekly 1211,” podcast featuring RNL’s Conquering King Kong</span></p>
  <p><span class='tab2'>De Waard, Frans, “RNL - Conquering King Kong,” Vital Weekly 1211</span></p>
  <p><span class='tab2'>RNL - <em>Conquering King Kong</em>. Solo sound works. Berlin, Germany: VONCONFLON</span></p>
  <p><span class='tab2'>Farber, Jesse. <em>LESO</em>. Berlin, Germany: VONCONFLON</span></p>
  <p><span class='tab2'>Farber, Jesse. <em>RESEISMO</em>. Berlin, Germany: VONCONFLON</span></p>
  <p>2018<span class='tab1'>Simon, Jörg, Ed. <em>Glashaus 2011-2015</em>. Frankfurt, Germany: Kann Verlag</span></p>
  <p><span class='tab2'>“Jesse Farber”, <em>Layers 3</em>, Brut Magazine. London, UK</span></p>
  <p><span class='tab2'>Farber, Jesse. <em>I Believe My Receiver (Bound)</em>. Berlin, Germany: VONCONFLON</span></p>
  <p><span class='tab2'>Farber, Jesse. <em>I GET SO</em>. Berlin, Germany: VONCONFLON</span></p>
  <p><span class='tab2'>Farber, Jesse. <em>Infallible Instants</em>. Berlin, Germany: VONCONFLON</span></p>
  <p><span class='tab2'>“Jesse Farber Answers 5 Questions,” ArtSlant, https://www.artslant.com/ny/articles/show/49162-jesse-farber-answers-5-questions</span></p>
  <p>2016<span class='tab1'>Farber, Jesse, and Rapoport, Maria, <em>One Million Mirrors</em>, exhibition catalog</span></p>
  <p>2015<span class='tab1'>"Gallery: Jesse Farber," Dime & Honey, http://www.dimeandhoney.com/jesse-farber/</span></p>
  <p>2014<span class='tab1'>CEPH – <em>HOWWHATWHY</em>, full-length cd, experimental/electronic music, Frankfurt/Berlin Germany. Main member/composer of two-person collaborative.</span></p>
  <p>2011<span class='tab1'>“Jesse Farber’s New Worlds,” Beautiful Decay, http://beautifuldecay.com</span></p>
  <p><span class='tab2'>“Surreal landscapes from US artist Jesse Farber,” Panther Club, http://blog.pantherclub.eu</span></p>
  <p>2009<span class='tab1'>Pisano, Hortense. “In der Finanzkrise ist die Phantasie gefragt” Frankfurter Allgemeine Zeitung</span></p>
  <p><span class='tab2'>Smith, Nancy. “The Crack Up.”  Art Lovers New York. 13 August http://www.artloversnewyork.com/zine/the-bomb/2009/08/13/the-crack-up/</span></p>
  <p>2008<span class='tab1'>Lutz, Jon, and Farber, Jesse. “Jesse Farber.”  The Old Gold http://theoldgold.blogspot.com/2008/06/jesse-farber.html</span></p>
  <p>2007<span class='tab1'>Mann, Dina. “Inside the Box: Artists Find Inspiration in Dioramas.” Columbia News Service. 11 Dec</span></p>
</div>