<% provide(:title, "CV") %>

<div class="container cv">
  <br />
  <p><strong>Education</strong></p>
  <p>Mason Gross School of the Arts, Rutgers University, New Brunswick, NJ. MFA, 2004</p>
  <p>Brandeis University, Waltham, MA. Post-Baccalaureate, 2002</p>
  <p>Vassar College, Poughkeepsie, NY. BA in Studio Art, 1998</p>
  <br />

  <p><strong>Exhibitions</strong></p>
  <p><em>Rulers</em>, curated by Sue Havens and Jason Lazarus, Coco Hunday, Tampa, FL, Summer 2019.</p>
  <p><em>Der Schein der Dinge</em>, SCOTTY, Berlin, Germany, Feb-March 2019</p>
  <p><em>Notebook</em>, curated by Joanne Greenbaum, 56 Henry, New York, NY, Feb-March 2019</p>
  <p><em>The 7th Sense</em>, Bar Babette, Berlin, Germany, August 2018</p>
  <p><em>Glashaus</em>, AusstellungsHalle 1A, Frankfurt, Germany, July 2018</p>
  <p><em>All The Right Moves</em>, Kienzle Art Foundation, Berlin, Germany, Summer 2017</p>
  <p><em>One Million Mirrors</em>, solo, Cavuspace, Berlin, Germany, May-July 2016</p>
  <p><em>Dada Dada!</em> w/ CEPH, Kunstverein Familie Montez, Frankfurt, Germany, May 2016</p>
  <p><em>Super Sketchy</em>, DCTV, New York, NY, April 2016</p>
  <p><em>I Believe My Receiver</em>, solo, Galerie Studio St. St., Berlin, Germany, April 2016</p>
  <p><em>On Site in 16 Cities</em>, Bar Babette, Berlin, Germany, and Create or Die, Sydney, Australia, Winter/Spring 2016</p>
  <p><em>Person, Place, or Thing</em>, 68 Projects, Berlin, Germany, November 2014</p>
  <p><em>Helløween</em>, Idling Gallery, Berlin, Germany, October 2014</p>
  <p><em>Haydarpasa'yi Sevmek</em>, Haydarpasa, Istanbul, Turkey. February 2013</p>
  <p><em>WAVERS</em>, Curated by EJ Hauser and Rob Nadeau, Brooklyn, NY. March-April 2012</p>
  <p><em>This World Is Not My Home</em>, solo, GallusZentrum, Frankfurt am Main, Germany 2011</p>
  <p><em>Wir alle lieben Lüpertz</em>, Kornhäuschen, Aschaffenburg, Germany, 2011</p>
  <p><em>Familietreffen</em>, Atelierfrankfurt, Frankfurt am Main, Germany, 2009</p>
  <p><em>The Crack-Up</em>, ATM Gallery, New York, NY, 2009</p>
  <p><em>Central & Remote</em>, Daily Operation, Long Island City, NY. 2009</p>
  <p><em>From The Garden Of Earthly Delights</em>, Arts Guild of Rahway, NJ. 2009</p> 
  <p><em>Unlikely Perfomance Night</em>, W139, Amsterdam, Netherlands. 2008</p>
  <p><em>Hallways 2</em>, 167 Plymouth, Brooklyn, NY. 2008</p>
  <p><em>Hallways</em>, 167 Plymouth, Brooklyn, NY. 2006</p>
  <p><em>Ten Alumni Artists</em>, Palmer Gallery, Vassar College, Poughkeepsie, NY. 2005</p>
  <p><em>I AM 5</em>, Parker’s Box, Brooklyn, NY. 2005</p>
  <p><em>Floor Play</em>, Brooklyn War Memorial Gallery, Brooklyn, NY. 2004</p>
  <p><em>Into the Woods</em>, Morsel Gallery, Brooklyn, NY. 2004</p>
  <p><em>Power T’s</em>, Pierogi, Brooklyn, NY. 2004</p>
  <p><em>Six Degrees</em>, Rutgers University, New Brunswick, NJ. 2004</p>
  <p><em>Tell Me a Story of a World Without Words</em>, City Without Walls, Newark, NJ. 2004</p>
  <p><em>Nickel and Dimed</em>, Quality Gallery, Brooklyn, NY. 2003</p>
  <p><em>Good For You</em>, Rutgers University, New Brunswick, NJ. 2003</p>
  <p><em>Where You At?</em>, Williamsburg Art & Historical Center, Brooklyn, NY. 2001</p>
  <br />
  <p><strong>Awards</strong></p>
  <p><em>Höherweg Guest Residency</em>, Düsseldorf, Germany, June 2016</p>
  <p><em>In Process Residency</em>, Islip Museum of Art, Islip NY. 2009</p>
  <p><em>Louise Bourgeois Residency for a Sculptor</em>, Yaddo, Saratoga Springs, NY. 2008</p>
  <p><em>Joan Mitchell Foundation Full Scholarship</em> at <em>Atlantic Center of the Arts Residency</em>, New Smyrna Beach, FL. 2006</p>
  <p><em>Giza Daniels-Endesha Award for Outstanding Performance</em>, Rutgers University. 2004</p>
  <p><em>TA/GA Competitiveness Pool Award</em>, Rutgers University. 2003</p>
  <p><em>Teaching Fellowship</em>, Rutgers University. 2002 - 2004</p>
  <p><em>Leon Golub Scholarship</em>, Rutgers University. 2002  Teaching Fellowship, Brandeis University. 2002</p>
  <br />
  <p><strong>Curating</strong></p>
  <p><em>NIMBY Lifestyles</em>. Ongoing series of exhibitions and publications, oriented around remoteness and long-distance as occasions for experimentation. Istanbul and Berlin, 2012-present.</p>
  <br />
  <p><strong>Bibliography/Discography</strong></p>
  <p>RNL - <em>Conquering King Kong</em> (solo sound works). Berlin, Germany: VONCONFLON, 2019</p>
  <p>Farber, Jesse. <em>LESO</em>. Berlin, Germany: VONCONFLON, 2019</p>
  <p>Farber, Jesse. <em>RESEISMO</em>. Berlin, Germany: VONCONFLON, 2019</p>
  <p>Simon, Jörg, Ed. <em>Glashaus 2011-2015</em>. Frankfurt, Germany: Kann Verlag, 2018.</p>
  <p>“Jesse Farber”, <em>Layers 3</em>, Brut Magazine. London, UK, 2018.</p>
  <p>Farber, Jesse. <em>I Believe My Receiver (Bound)</em>. Berlin, Germany: VONCONFLON, 2018</p>
  <p>Farber, Jesse. <em>I GET SO</em>. Berlin, Germany: VONCONFLON, 2018</p>
  <p>Farber, Jesse. <em>Infallible Instants</em>. Berlin, Germany: VONCONFLON, 2018</p>
  <p>“Jesse Farber Answers 5 Questions,” ArtSlant, 19 February 2018, https://www.artslant.com/ny/articles/show/49162-jesse-farber-answers-5-questions</p>
  <p>Farber, Jesse, and Rapoport, Maria, <em>One Million Mirrors</em>, exhibition catalog, June 2016</p>
  <p>CEPH – <em>HOWWHATWHY</em>, full-length cd, experimental/electronic music, Frankfurt/Berlin Germany, 2014. Main member/composer of two-person collaborative.</p>
  <p>"Gallery: Jesse Farber," Dime & Honey, October 1 2015, http://www.dimeandhoney.com/jesse-farber/</p>
  <p>“Jesse Farber’s New Worlds,” Beautiful Decay, 23 March 2011, http://beautifuldecay.com</p>
  <p>“Surreal landscapes from US artist Jesse Farber,” Panther Club, http://blog.pantherclub.eu</p>
  <p>Pisano, Hortense. “In der Finanzkrise ist die Phantasie gefragt” Frankfurter Allgemeine Zeitung, 24 November, 2009</p>
  <p>Smith, Nancy. “The Crack Up.”  Art Lovers New York. 13 August 2009 http://www.artloversnewyork.com/zine/the-bomb/2009/08/13/the-crack-up/</p>
  <p>Lutz, Jon, and Farber, Jesse. “Jesse Farber.”  The Old Gold. 11 June 2008 http://theoldgold.blogspot.com/2008/06/jesse-farber.html</p>
  <p>Mann, Dina. “Inside the Box: Artists Find Inspiration in Dioramas.” Columbia News Service. 11 Dec. 2007</p>
</div>