<% provide(:title, "CV") %>

<div class="container cv">
  <br />
  <p>Born in Boston, MA</p>
  <p>Lives and works in Berlin, Germany</p>
  <br />
  <p>Jesse Farber has exhibited in solo and group exhibitions throughout the US and Europe, and is currently a member of the White Columns Curated Artist Registry. 
  He has attended residencies at Höherweg (Dusseldorf, Germany), Islip Museum of Art (NY), Yaddo (NY), and Atlantic Center for the Arts (FL). 
  Since 2018, he has published an ongoing library of collage book zines through his imprint Vonconflon, which also releases works by his audio project, RNL. 
  His sound works have also appeared in film scores, radio broadcasts, and live events.</p>
  <br />
  
  <table id="cv-table">
    <colgroup>
      <col class="col-title">
      <col>
    </colgroup>
    <tr class="cv-section-title">
      <td><strong>Education</strong></td>
    </tr>
    <tr>
      <td>2004</td>
      <td>Mason Gross School of the Arts, Rutgers University, New Brunswick, NJ. MFA</td>
    </tr>
    <tr>
      <td>2002</td>
      <td>Brandeis University, Waltham, MA. Post-Baccalaureate</td>
    </tr>
    <tr>
      <td>1998</td>
      <td>Vassar College, Poughkeepsie, NY. BA in Studio Art</td>
    </tr>

    <tr><td><br /></td></tr>

    <tr class="cv-section-title">
      <td><strong>Exhibitions</strong></td>
    </tr>
    <tr>
      <td>2022</td>
      <td><em>Torsades de Pointes</em>, solo, Frizz23, Berlin</td>
    </tr>
    <tr>
      <td></td>
      <td><em>SIGNAL</em>, with Lisa Di Donato and Olivia Martin Moore, Site Site Parasite, Berlin</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Weird Media</em>, curated by Patrick Lichty, Winona State University, Winona, MN</td>
    </tr>
    <tr>
      <td>2021</td>
      <td><em>Suturo Berlin</em>, curated by Daniel Wiesenfeld and Bettina Weiss, www.suturo.com</td>
    </tr>
    <tr>
      <td>2020</td>
      <td><em>KUNST IM BAU</em>, curated by Hans-Jürgen Hafner, Gunter Reski, and Marcus Weber, Berlin</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Thinking of Sound</em>, Hilbertraum, Berlin</td>
    </tr>
    <tr>
    <td></td>
      <td><em>Mistral</em>, Site Site Parasite, Marseille, France</td>
    </tr>
    <tr>
    <td>2019</td>
      <td><em>Rulers</em>, curated by Sue Havens and Jason Lazarus, Coco Hunday, Tampa, FL</td>
    </tr>
    <tr>
    <td></td>
      <td><em>Der Schein der Dinge</em>, SCOTTY, Berlin, Germany</td>
    </tr>
    <tr>
    <td></td>
      <td><em>Notebook</em>, curated by Joanne Greenbaum, 56 Henry, New York, NY</td>
    </tr>
    <tr>
    <td>2018</td>
      <td><em>The 7th Sense</em>, Bar Babette, Berlin, Germany</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Glashaus</em>, AusstellungsHalle 1A, Frankfurt, Germany</td>
    </tr>
    <tr>
      <td>2017</td>
      <td><em>All The Right Moves</em>, Kienzle Art Foundation, Berlin, Germany</td>
    </tr>
    <tr>
      <td>2016</td>
      <td><em>One Million Mirrors</em>, solo, Cavuspace, Berlin, Germany</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Dada Dada!</em> w/CEPH, Kunstverein Familie Montez, Frankfurt, Germany</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Super Sketchy</em>, DCTV, New York, NY</td>
    </tr>
    <tr>
      <td></td>
      <td><em>I Believe My Receiver</em>, solo, Galerie Studio St. St., Berlin, Germany</td>
    </tr>
    <tr>
      <td></td>
      <td><em>On Site in 16 Cities</em>, Bar Babette, Berlin, Germany, and Create or Die, Sydney, Australia</td>
    </tr>
    <tr>
      <td>2014</td>
      <td><em>Person, Place, or Thing</em>, 68 Projects, Berlin, Germany</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Helløween</em>, Idling Gallery, Berlin, Germany</td>
    </tr>
    <tr>
      <td>2013</td>
      <td><em>Haydarpasa'yi Sevmek</em>, Haydarpasa, Istanbul, Turkey</td>
    </tr>
    <tr>
      <td>2012</td>
      <td><em>WAVERS</em>, Curated by EJ Hauser and Rob Nadeau, Brooklyn, NY</td>
    </tr>
    <tr>
      <td>2011</td>
      <td><em>This World Is Not My Home</em>, solo, GallusZentrum, Frankfurt am Main, Germany</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Wir alle lieben Lüpertz</em>, Kornhäuschen, Aschaffenburg, Germany</td>
    </tr>
    <tr>
      <td>2009</td>
      <td><em>Familietreffen</em>, Atelierfrankfurt, Frankfurt am Main, Germany</td>
    </tr>
    <tr>
      <td></td>
      <td><em>The Crack-Up</em>, curated by Sascha Braunig, ATM Gallery, New York, NY</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Central & Remote</em>, Daily Operation, Long Island City, NY</td>
    </tr>
    <tr>
      <td></td>
      <td><em>From The Garden Of Earthly Delights</em>, Arts Guild of Rahway, NJ</td>
    </tr>
    <tr>
      <td>2008</td>
      <td><em>Unlikely Perfomance Night</em>, W139, Amsterdam, Netherlands</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Hallways 2</em>, 167 Plymouth, Brooklyn, NY</td>
    </tr>
    <tr>
      <td>2006</td>
      <td><em>Hallways</em>, 167 Plymouth, Brooklyn, NY</td>
    </tr>
    <tr>
      <td>2005</td>
      <td><em>Ten Alumni Artists</em>, Palmer Gallery, Vassar College, Poughkeepsie, NY</td>
    </tr>
    <tr>
      <td></td>
      <td><em>I AM 5</em>, Parker's Box, Brooklyn, NY</td>
    </tr>
    <tr>
      <td>2004</td>
      <td><em>Floor Play</em>, Brooklyn War Memorial Gallery, Brooklyn, NY</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Into the Woods</em>, Morsel Gallery, Brooklyn, NY</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Power T's</em>, Pierogi, Brooklyn, NY</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Six Degrees</em>, Rutgers University, New Brunswick, NJ</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Tell Me a Story of a World Without Words</em>, City Without Walls, Newark, NJ</td>
    </tr>
    <tr>
      <td>2003</td>
      <td><em>Nickel and Dimed</em>, Quality Gallery, Brooklyn, NY</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Good For You</em>, Rutgers University, New Brunswick, NJ</td>
    </tr>
    <tr>
      <td>2001</td>
      <td><em>Where You At?</em>, Williamsburg Art & Historical Center, Brooklyn, NY</td>
    </tr>

    <tr><td><br /></td></tr>

    <tr class="cv-section-title">
      <td><strong>Awards/Residencies</strong></td>
    </tr>
    <tr>
      <td>2021</td>
      <td><em>White Columns Artist Registry</em>, White Columns, New York, NY</td>
    </tr>
    <tr>
      <td>2016</td>
      <td><em>Höherweg Guest Residency</em>, Düsseldorf, Germany</td>
    </tr>
    <tr>
      <td>2009</td>
      <td><em>In Process Residency</em>, Islip Museum of Art, Islip, NY</td>
    </tr>
    <tr>
      <td>2008</td>
      <td><em>Louise Bourgeois Residency for a Sculptor</em>, Yaddo, Saratoga Springs, NY</td>
    </tr>
    <tr>
      <td>2006</td>
      <td><em>Joan Mitchell Scholarship, Atlantic Center of the Arts Residency</em>, New Smyrna Beach, FL</td>
    </tr>
    <tr>
      <td>2004</td>
      <td><em>Giza Daniels-Endesha Award for Outstanding Performance</em>, Rutgers University, NJ</td>
    </tr>
    <tr>
      <td>2003</td>
      <td><em>TA/GA Competitiveness Pool Award</em>, Rutgers University, New Brunswick, NJ</td>
    </tr>
    <tr>
      <td>2002</td>
      <td><em>Teaching Fellowship</em>, Rutgers University, New Brunswick, NJ</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Leon Golub Scholarship</em>, Rutgers University, New Brunswick, NJ</td>
    </tr>
    <tr>
      <td></td>
      <td><em>Teaching Fellowship</em>, Brandeis University, Waltham, MA</td>
    </tr>

    <tr><td><br /></td></tr>

    <tr class="cv-section-title">
      <td><strong>Curating</strong></td>
    </tr>
    <tr>
      <td>2020-now</td>
      <td><em>Site Site Parasite</em>. Exhibition projects exploring unconventional relationships to location and venue.</td>
    </tr>
    <tr>
      <td>2012-2014</td>
      <td><em>NIMBY Lifestyles</em>. Exhibition projects oriented around remoteness and long-distance.</td>
    </tr>
    
    <tr><td><br /></td></tr>

    <tr class="cv-section-title">
      <td><strong>Bibliography/Discography</strong></td>
    </tr>
    <tr>
      <td>2020</td>
      <td>Farber, Jesse. “Multi-Falsing”, sound project and interview in Bait/Switch Vol. 1 No. 2: Communication, https://www.baitswit.ch</td>
    </tr>
    <tr>
      <td></td>
      <td>Farber, Jesse, and RNL. Original score for <em>Contact</em>, a film by Joe Nanashe</td>
    </tr>
    <tr>
      <td></td>
      <td>Farber, Jesse. <em>Das Törchen (The Gate)</em>. Berlin, Germany: VONCONFLON</td>
    </tr>
    <tr>
      <td></td>
      <td>Farber, Jesse. <em>Jailbreak</em>. Berlin, Germany: VONCONFLON</td>
    </tr>
    <tr>
      <td></td>
      <td>Masteller, Ryan. "RNL - Conquering King Kong," Tabs Out, http://www.tabsout.com/?p=23964</td>
    </tr>
    <tr>
      <td></td>
      <td>“A Duck in a Tree: The Whole Spectre of Beauty,” Resonance FM broadcast/podcast by :zoviet*france:, featuring RNL's Conquering King Kong</td>
    </tr>
    <tr>
      <td></td>
      <td>Mecca, Steve, "RNL: Conquering King Kong," Chain D.L.K., http://www.chaindlk.com/reviews/?id=11207</td>
    </tr>
    <tr>
      <td>2019</td>
      <td>“Toneshift 14,” podcast featuring RNL's Conquering King Kong</td>
    </tr>
    <tr>
      <td></td>
      <td>“Vital Weekly 1211,” podcast featuring RNL's Conquering King Kong</td>
    </tr>
    <tr>
      <td></td>
      <td>De Waard, Frans, “RNL - Conquering King Kong,” Vital Weekly 1211</td>
    </tr>
    <tr>
      <td></td>
      <td>RNL - <em>Conquering King Kong</em>. Solo sound works. Berlin, Germany: VONCONFLON</td>
    </tr>
    <tr>
      <td></td>
      <td>Farber, Jesse. <em>LESO</em>. Berlin, Germany: VONCONFLON</td>
    </tr>
    <tr>
      <td></td>
      <td>Farber, Jesse. <em>RESEISMO</em>. Berlin, Germany: VONCONFLON</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>Simon, Jörg, Ed. <em>Glashaus 2011-2015</em>. Frankfurt, Germany: Kann Verlag</td>
    </tr>
    <tr>
      <td></td>
      <td>“Jesse Farber”, <em>Layers 3</em>, Brut Magazine. London, UK</td>
    </tr>
    <tr>
      <td></td>
      <td>Farber, Jesse. <em>I Believe My Receiver (Bound)</em>. Berlin, Germany: VONCONFLON</td>
    </tr>
    <tr>
      <td></td>
      <td>Farber, Jesse. <em>I GET SO</em>. Berlin, Germany: VONCONFLON</td>
    </tr>
    <tr>
      <td></td>
      <td>Farber, Jesse. <em>Infallible Instants</em>. Berlin, Germany: VONCONFLON</td>
    </tr>
    <tr>
      <td></td>
      <td>“Jesse Farber Answers 5 Questions,” ArtSlant, https://www.artslant.com/ny/articles/show/49162-jesse-farber-answers-5-questions</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>Farber, Jesse, and Rapoport, Maria, <em>One Million Mirrors</em>, exhibition catalog</td>
    </tr>
    <tr>
      <td>2015</td>
      <td>"Gallery: Jesse Farber," Dime & Honey, http://www.dimeandhoney.com/jesse-farber/</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>CEPH - <em>HOWWHATWHY</em>, full-length cd, experimental/electronic music, Frankfurt/Berlin Germany. Main member/composer of two-person collaborative.</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>“Jesse Farber's New Worlds,” Beautiful Decay, http://beautifuldecay.com</td>
    </tr>
    <tr>
      <td></td>
      <td>“Surreal landscapes from US artist Jesse Farber,” Panther Club, http://blog.pantherclub.eu</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>Pisano, Hortense. “In der Finanzkrise ist die Phantasie gefragt” Frankfurter Allgemeine Zeitung</td>
    </tr>
    <tr>
      <td></td>
      <td>Smith, Nancy. “The Crack Up.”  Art Lovers New York. 13 August http://www.artloversnewyork.com/zine/the-bomb/2009/08/13/the-crack-up/</td>
    </tr>
    <tr>
      <td>2008</td>
      <td>Lutz, Jon, and Farber, Jesse. “Jesse Farber.”  The Old Gold http://theoldgold.blogspot.com/2008/06/jesse-farber.html</td>
    </tr>
    <tr>
      <td>2007</td>
      <td>Mann, Dina. “Inside the Box: Artists Find Inspiration in Dioramas.” Columbia News Service. 11 Dec</td>
    </tr>

    <tr><td><br /></td></tr>

  </table>
</div>