<% provide(:title, "ERROR 500") %>

<div class="container container-home">
  <div class="headline-container">
      <h1 class="homeheader"><%= link_to 'JESSE FARBER', root_path %></h1>
      <hr class="thickline" />
  </div>
  <div class="row link-container">
    <div class="col-md-6 offset-md-3 dark-on-light error-pages">
      <%= link_to :back do %>
        <h1><br />∎ WHERE ∎<br />∎ ARE ∎<br />∎ WE ∎<br /><br /></h1>
      <% end %>
    </div>
      </div>
    </div>
  </div>
</div>