@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
/*  background: image_url('blank-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  */
  background-color: #292b2c;
  color: white;
  font-family: 'latohairline', sans-serif;

}

hr {
  background-color: gray;
}

p {
  margin-bottom: 0;
}

.navbar {
  box-shadow: 0px 1px 3px #000000;
  border-radius: 0;
}

.bg-inverse {
  background-color: #000000 !important;
}

.navbar-brand a {
  font-family: 'kollektifbold', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 24px;
  letter-spacing: 2.95px;
  font-weight: 800
}

.navbar-nav {
  flex-direction: row;
}

.admin-navbar-ul {
    font-size: .9em !important
}

@media (max-width: 900px) and (min-width: 768px) {
  .admin-navbar-ul {
    font-size: .9em !important;
    margin-left: 15px;
  }
}

.navbar-toggleable-sm .navbar-nav .nav-item {
    padding-right: 5px;
    padding-left: 5px;
}

@media (max-width: 768px) {
  .navbar-toggleable-sm .navbar-nav .nav-item {
    padding-right: 5px;
    padding-left: 5px;
    margin: auto;
  }
}

.admin {
  font-size: 14px;
}

/*@media (max-width: 768px) {
  .navbar-toggleable-sm .navbar-collapse {
    margin: auto;
  }
}*/

.navbar-admin {
  background-color: #BA5E53;
  a {
    color: white;
  }
}

.navbar-admin .collapse ul li a {
  line-height: 125%;
}

.clear {
  clear: both;
}

.works {
  background-color: #444444;
/*  margin: 0 5px 0 5px;*/
  text-align: center;
  position: relative;
  padding: 15px;
  /*border-radius: 5px;*/
}

.works .btn-danger {
  position: absolute;
  bottom: 10px;
  right: 20px;
  box-shadow: 2px 2px 5px #00000080;
}

.works .btn-warning {
  position: absolute;
  bottom: 10px;
  left: 20px;
  box-shadow: 2px 2px 5px #00000080;
}

.works-card {
  box-shadow: 2px 2px 5px #00000080;
  border-style: solid;
  border-color: #2B2C2D;
  border-width: .5px;
  max-height: 20rem;
  min-height: 20rem;

}

.works-card:nth-child(4n+1) {
  clear: left;
}

.works-card p {
  line-height: 1rem;
  font-size: .9rem;
}

.works-card img {
  max-height: 10rem;
  min-height: 10rem;
}

.works-card hr {
  margin: 0.5rem;
}

.edit-del-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .works {
    margin-bottom: 8px;
  }
}

.inline-links {
  display: inline-block;
}

@media (min-width: 768px) {
  .navbar-center {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    margin-top: 0;
  }
}

.nav-container {
  display: inline;
  float: none;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse {
    text-align: center;
  }
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: black;
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 0;
  text-align: center;
}
.modal-fullscreen .modal-content {
  background: black;
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-body {

}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

small {
  font-weight: 100;
  font-size: 10px;
}

.navbar-toggler {
  border-style: none;
  padding-top: .70rem;
  color: white

}

.navbar-collapse > ul {
  font-size: 18px;
  line-height: .75;
  font-family: 'latolight', sans-serif;
}

.navbar-toggler-right.collapsed {
      border: none;
      outline: none;
    }

.navbar-toggler:focus {
      border: none;
      outline: none;
    }

.align-items-center h5 {
  margin-top: .7rem;
}

.img-thumbnail {
  border-radius: 0px;
  padding: 0px;
  border-width: 0px;
  box-shadow: 2px 2px 5px #00000080;
}

@media (min-width: 1097px) {
  .admin-navbar-ul {
    top: 28%
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .admin-navbar-ul {
    left: 52%;
  }
}

.admin-navbar-ul {
  border: .5px solid #ccc;
}

.admin-navbar-ul li {
  top: 15%;
}