@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-brand a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.navbar-admin {
  background-color: #BA5E53;
  a {
    color: white;
  }
}

.clear {
  clear: both;
}

.two-d-work {
/*  background-color: #2B2C2D;*/
  padding: 4px;
}


.two-d {
  padding: 2px;
}

body {
  background-color: black;
  color: white;

}

.inline-links {
  display: inline-block;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center, .navbar-header-center {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.nav-container {
  display: inline;
  float: none;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse {
    text-align: center;
  }
}

.navbar-nav > ul {
  float: left;
}

.footer {
  display: inline;
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: black;
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 0;
  text-align: center;
}
.modal-fullscreen .modal-content {
  background: black;
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-body {

}

.clear {
  clear: both;
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}