@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
/*  background: image_url('blank-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  */
  background-color: gray;
  color: white;
  font-family: 'latohairline', sans-serif;

}

hr {
  height: 1px;
  background-color: gray;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
  border-radius: 0;
  font-weight: 200;
}

.navbar-inverse {
  font-weight: 400;
  border-color: #090909;
  background-color: rgba(36, 32, 33, 0.75);
}

.navbar-inverse > a {
  opacity: 1;
}

.navbar-brand a {
  font-family: 'kollektifbold', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 24px;
  letter-spacing: 2.5px;
}

.navbar-admin {
  background-color: #BA5E53;
  a {
    color: white;
  }
}

.clear {
  clear: both;
}

.two-d-work {
  background-color: #2B2C2D;
  padding: 4px;
/*  border-style: solid;
  border-width: 4px;
  border-color: black;*/
  text-align: center;
  position: relative;
}

.two-d-work img {
  padding: 4px;
}

.two-d-work .btn-danger {
  position: absolute;
  bottom: 10px;
  right: 20px;
  box-shadow: 5px 5px 5px black;
}

.two-d-work .btn-warning {
  position: absolute;
  bottom: 10px;
  left: 20px;
  box-shadow: 5px 5px 5px black;
}

.two-d {
/*  padding: 2px;*/
}

.inline-links {
  display: inline-block;
}

@media (min-width: 768px) {
  .navbar-nav, .navbar-header-center {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.nav-container {
  display: inline;
  float: none;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse {
    text-align: center;
  }
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: black;
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 0;
  text-align: center;
}
.modal-fullscreen .modal-content {
  background: black;
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-body {

}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

small {
  font-weight: 100;
  font-size: 10px;
}

.navbar-toggler {
  border-style: none;
  padding-top: .70rem;
}

.navbar-collapse > ul > li {
  display: inline-block;
  font-size: 18px;
  line-height: .75;
}

.navbar-collapse {
  border-color: #101010;
}