.developer-portfolio {

  body {
    margin: 0;
  }

  .white-background {
    background-color: white;
  }

  p {
    color: black;
    font-family: 'lato', sans-serif;
  }

  h1 {
  color: white;
  font-family: 'latolight', sans-serif;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
  }

  h2 {
    color: white;
    font-size: 18px;
    margin-top: 0;
  }

  h3 {
    font-family: 'lato', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    padding-top: 100px;
    color: black;
  }

  h4 {
    font-family: 'lato', sans-serif;
    text-align: center;
    font-size: 24px;
    color: black;
  }

  p {
    text-align: center;
  }

  @media (max-width: 767px) {
    ul {
      align-content: center;
    }
  }

  li {
    display: inline-block;
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0px;
  }


  .bio {
    color: white;
    font-size: 14px;
    font-family: 'latolight', sans-serif;
  }


  .me {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: #B2CCAF;
    margin-top: 40px;
  }

  .about {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'latolight', sans-serif;
  }

  .bioline {
    height: 3px;
    background-color: #B2CCAF;
    border: none;
    width: 125px;
  }

  .about-container {
    background: url('https://s3.amazonaws.com/fleawigjessefarberdotcom/uploads/developer/bg.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    text-shadow: 0px 0px 30px rgba(0,0,0,0.90);
  }

  .lightgreen {
    border-top: 8px dotted #B2CCAF;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 250px;
    background-color: transparent;
  }

  .box {
    float: left;
    width: 42.5%;
    margin-left: 5%;
    margin-top: 80px;
  }

  .clear {
    clear: both;
  }

  .full-width {
    width: 100%;
  }

  .skills-and-tools {
    max-width: 400px;
    margin: 40px auto;
  }

  .icons {
    text-align: center;
  }

  .icon {
    margin: 30px 0;
  }

  .contact-me {
    height: 350px;
    background-color: #202020;
    padding-top: 30px;
  }

  .contact-headline {
    color: white;
  }

  .contact-info {
    color: white;
    font-size: 13px;
    margin-top: 30px;
  }

  .contact-link {
    color: white;
    font-weight: bold;
    font-size: 13px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
  }

  .hire-me {
    border-style: solid;
    border-color: white;
  }
}